repositories:
  - name: bitnami
    url: https://mirror.yandex.ru/helm/charts.bitnami.com
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server
  - name: ingress-nginx
    url: https://kubernetes.github.io/ingress-nginx
  - name: jetstack
    url: https://charts.jetstack.io
  - name: home-env-synchronizer
    url: git+https://github.com/TourmalineCore/home-env-synchronizer.git?ref=339abb08e3ea3f0e04ab6779a40691c9061c7422
    
environments:
  prod:
    values:
      - environments/{{ .Environment.Name }}/values.yaml.gotmpl

releases:
  - name: metrics-server
    labels:
      app: metrics-server
    wait: true
    chart: metrics-server/metrics-server
    version: 3.13.0
    values:
      - values-metrics-server.yaml.gotmpl

  - name: ingress-nginx
    labels:
      app: ingress-nginx
    wait: true
    chart: ingress-nginx/ingress-nginx
    # update ingress-nginx version to 1.12.1 for fix CVE-2025-1098
    # https://www.opennet.ru/opennews/art.shtml?num=62946
    version: 4.12.1
    values:
      - values-ingress-nginx.yaml.gotmpl

  - name: cert-manager
    wait: true
    chart: jetstack/cert-manager
    version: 1.14.5
    needs: 
      - ingress-nginx
    values:
      - values-cert-manager.yaml.gotmpl
    # deploy custom resource using hooks feature of helmfile since there is nothing like extraDeploy for this chart
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: "sh"
        # envsubst tool is used to replace env variables in file with their values
        args: ["-c", "envsubst < ./cert-manager-cluster-issuer.yaml | kubectl apply -f -"]

  - name: postgresql
    labels:
      app: postgresql
    wait: true
    chart: bitnami/postgresql
    version: 12.2.7
    values:
      - values-postgresql.yaml.gotmpl

  - name: home-cms
    labels:
      app: home-cms
    wait: true
    chart: bitnami/nginx
    # after 15.3.5 our docker file or setup can no longer start, need to investigate what is wrong for the newer versions
    version: 15.3.5
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
      - postgresql
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/home.git@/cms/ci/values.yaml?ref=57c754f62adebbe11104295329b38df8affe04df
      - values.yaml.gotmpl
      - values-cms.yaml.gotmpl

  - name: home-ui
    labels:
      app: home-ui
    wait: true
    chart: bitnami/nginx
    # chart was updated to 15.12.1 to add support of ingress.tlsWwwPrefix to simply add cert for www subdomain
    # changelog ref: https://github.com/bitnami/charts/blob/main/bitnami/nginx/CHANGELOG.md#15120-2024-02-20
    # version 15.12.1 is used instead of 15.12.0 because Yandex Mirror doesn't contain 15.12.0 for some reason
    version: 15.12.1
    # it won't work anyway until ingress controller is created
    # thus we wait for it to be ready first
    needs: 
      - ingress-nginx
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/home-ui.git@/ci/values.yaml?ref=afdc9e6cef74148efa546669ce362f4557e78de2
      - values.yaml.gotmpl
      - values-ui.yaml.gotmpl    

  - name: home-env-synchronizer
    labels:
      app: home-env-synchronizer
    wait: true
    chart: home-env-synchronizer/home-env-synchronizer
    values:
      # https://helmfile.readthedocs.io/en/latest/#loading-remote-environment-values-files
      - git::https://github.com/TourmalineCore/home-env-synchronizer.git@/ci/values.yaml?ref=339abb08e3ea3f0e04ab6779a40691c9061c7422
      - values.yaml.gotmpl
      - values-env-synchronizer.yaml.gotmpl
    hooks:
      # Create namespace if doesn't exists. It's needed in reason that configmap for env-synchronizer can't be created before namespace
      - events: ["prepare"]
        showlogs: true
        command: "sh"
        args: ["-c", "if ! kubectl get namespace {{ .Environment.Name }}; then kubectl create namespace {{ .Environment.Name }}; fi"]
      # Delete configmap if already exists
      - events: ["prepare"]
        showlogs: true
        command: "sh"
        args: ["-c", "if kubectl get configmap {{ .Values.HOME_SYNCHRONIZER_CONFIGMAP_NAME }} --namespace {{ .Environment.Name }} && [ -f ../.devcontainer/devcontainer.env ]; then kubectl delete configmap {{ .Values.HOME_SYNCHRONIZER_CONFIGMAP_NAME }} --namespace {{ .Environment.Name }}; fi"]
      # Create configmap with env values
      - events: ["preapply"]
        showlogs: true
        command: "sh"
        args: ["-c", "if [ -f ../.devcontainer/devcontainer.env ]; then kubectl create configmap {{ .Values.HOME_SYNCHRONIZER_CONFIGMAP_NAME }} --from-env-file ../.devcontainer/devcontainer.env --namespace {{ .Environment.Name }}; fi"]
